<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean id="datasource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://119.29.163.251:3306/resumesys?useSSL=false"/>
        <property name="username" value="resumeroot"/>
        <property name="password" value="helloworld"/>
    </bean>

    <bean id="userDao" class="com.resumeweb.DAO.imp.UserDaoImp">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <bean id="baseInfoDao" class="com.resumeweb.DAO.imp.BaseInfoDaoImp">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <bean id="eduInfoDao" class="com.resumeweb.DAO.imp.EduInfoDaoImp">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <bean id="projectInfoDao" class="com.resumeweb.DAO.imp.ProjectInfoDaoImp">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <bean id="resumeProjectsDao" class="com.resumeweb.DAO.imp.ResumeProjectsDaoImp">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <bean id="resumeDao" class="com.resumeweb.DAO.imp.resumeDaoImp">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <bean id="resumeEdusDao" class="com.resumeweb.DAO.imp.ResumeEdusDaoImp">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <bean id="patternDao" class="com.resumeweb.DAO.imp.PatternDaoImp">
        <property name="dataSource" ref="datasource" />
    </bean>

    <bean id="logAndRegisterService" class="com.resumeweb.service.imp.LogAndRegisterServiceImp">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="resumeService" class="com.resumeweb.service.imp.ResumeServiceImp">
    </bean>


</beans>